<p *ngIf="reservasBD.length == 0; else reservasTrue">No ha realizado una reserva.</p>

<ng-template #reservasTrue>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Clase</th>
            <th scope="col">Hora</th>
            <th scope="col">Dia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservasBD">
            <td>{{reserva.actividad}}</td>
            <td>{{reserva.hora}}:00</td>
            <td>{{reserva.dia}}/{{reserva.mes}}/{{reserva.year}}</td>
            <td><button type="button" (click)="delete(reserva)">Eliminar</button></td>
          </tr>
        </tbody>
    </table>
</ng-template>