<!--
<h1>calendario component</h1>
<div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>August<br><span style="font-size:18px">2022</span></li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  <ul class="days">
    <li *ngFor="let number of dias"><a (click)="showDetail(number)">{{number}}</a></li>
  </ul>


  <h5>Inline</h5>

  -->
  <p-calendar [(ngModel)]="value" [inline]="true" [showWeek]="true" (onSelect)="cambiaDia(value)"></p-calendar>

  {{value}}
  {{diaElegido}}


  <app-dia-detalle *ngIf="diaElegido"></app-dia-detalle>