<ul>
    <li *ngFor="let actividad of filtrarDia(diaBD); let i = index">
        <button type="button" class="btn btn-outline-primary" (click)="cambiarSeleccionado(i)">
            Hora: {{actividad.hora}} <br>
            Actividad: {{actividad.actividad}}
        </button>
        <div *ngIf="btnElegido == i">
            <br>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#detalleClase">
                Información de la clase
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="detalleClase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <app-clase-detalle [claseElegida]="claseElegida"></app-clase-detalle>
                </div>
                </div>
            </div>

            <button class="btn btn-outline-success" (click)="Reservar(actividad.hora, actividad.actividad)">Reservar</button>
            <p *ngIf="texto">{{texto}}</p>


        </div>
        <br>
    </li>
</ul>
